DATABASE_URL="postgresql://postgres:USER@localhost:5432/db"
CLOUDINARY_URL=cloudinary://123456789012345:dffGfg4ddfKs3VSShd@dfdfdsf
CLOUDINARY_CLOUD_NAME=dtdtdtdz
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=ldddDgdssDvSdsddv23gSDwws0s
JWT_SECRET="dev-secret"
RESEND_API_KEY="re_AAAAA2_C4uYhT6LH2D9rxFdqGSsdE45"
EMAIL_FROM=PuntoGestion@contact.ferdevx.com
ADMIN_EMAILS="user@email.com"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN_DAYS="7"
AUTH_COOKIE_NAME=auth_tocken
REFRESH_COOKIE_NAME=refresh_token
GOOGLE_CLIENT_ID=12414asnfhasji124dfaasdaae.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=SGSDFVC-asfi18yahrauyfueq
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
GOOGLE_REDIRECT_URL=http://localhost:5173/home